<div class="container" id="explore">
  <h1 class="title t-center">EXPLORE EM <span>3D</span></h1>
  <h3 class="subtitle t-center crossed-line"><span>Visite nosso decorado sem sair de casa</span></h3>

  <div class="explore-item" *ngFor="let explore of explores">
    <div class="explore-text">
      <h2>{{explore.nome}}</h2>
      <h4>{{explore.texto}}</h4>
    </div>
    <a class="btn-explore" href="{{explore.link}}" target="_blank">
      <i class="fas fa-cube"></i>
      <h2>EXPLORE</h2>
    </a>
  </div> 
  
</div>