<div class="container" id="comunicado">

  <h2>Caros clientes,</h2>
  <br>

  <p>A quarentena, decorrente da ameaça do <b>"Coronavirus"</b>, deu a cada um de nós a oportunidade de usufruirmos de nossos lares como certamente nunca ocorreu antes.
  Só agora percebemos o quanto é gratificante qualquer investimento que façamos no local onde efetivamente vivemos e somos felizes.<br>
  Nós da Celmar temos observado uma crescente solicitação de projetos de móveis planejados, particularmente quando relacionados a cozinhas, dormitórios e home theater. Acreditamos que isso se dê ao fato de as pessoas permanecerem mais em casa e desejarem proporcionar a si e suas famílias um ambiente mais agradável, porém, respeitando as medidas de precaução durante a quarentena. E para melhor atendê-los, nos colocamos à sua disposição com as seguintes vantagens:
  </p>

  <p><b>
    •	Venda em até 24X com o primeiro pagamento para 60 dias após o fechamento da compra;
<br>
    •	Não é necessário vir até a loja. Para sua maior comodidade, recebemos a planta do ambiente em que deseja instalar os móveis via skype, whatsapp, e-mail ou outro meio eletrônico;
<br>
    •	Os nossos projetistas desenvolverão o seu projeto e o enviarão acompanhados junto de modelos de puxadores e opções de cores e acabamentos;
<br>
    •	Após as modificações que o cliente desejar fazer no projeto, lhe enviaremos uma nova versão já modificada e acompanhada das nossas condições de venda;
    <br>
    •	Após aprovação do projeto e da definição da condição de venda que mais lhe convenha, enviaremos a ficha cadastral e o contrato de venda emitido pela loja, juntamente do certificado de garantia emitido pela nossa fábrica.      
  </b></p>

  <a (click)="openComunicado()">Nota sobre o COVID-19</a>
</div>

<!-- Modal -->
<div class="modal fade in" id="comunicado-covid" tabindex="-1" role="dialog" aria-labelledby="comunicadoTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="comunicadoTitle">Prezados clientes,</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>Estamos atentos quanto à pandemia do Corona Vírus (COVID-19), e tendo acompanhado
                de perto e pautado nossas ações amparadas nas diretrizes do Ministério da Saúde, OMS e
                ANVISA a Celmar, preocupada com o bem-estar da comunidade informa que suas
                atividades estão suspensas, com retorno previsto no dia 30 de Abril. O retorno poderá ser prorrogado em
                função do que ocorrerá com essa pandemia, podendo assim ser adiado o retorno das
                nossas atividades. </p>
            <p>Estamos juntos, enfrentando este desafio. Contamos com a compreensão de todos.</p>
            <p>Telefones dos Gerentes: Júnior 9-8254-3001; Márcia Lira 9-9667-4376 e Júlio César 9-6458-
                9325</p>
            <p>Coordenador de Montagens: Elton Junior 9-6974-3798</p>
            <p>Atenciosamente, Grupo Celmar & Predilecta Rio</p>
        </div>
      </div>
    </div>
  </div>
