@import '../../../assets/sass/variables'

#footer
    padding: 20px 0px !important
    background: var(--footer-bg)

    p
        color: var(--footer-text)
        text-align: center
        margin: 0