<div class="container-fluid" id="galeria">
  <div class="container">

    <div class="galeria-header">
        <h1 class="title">Galeria</h1>
        <div class="filters-box">
            <svg-icon src="../../assets/images/icons/{{activedFilterIcon}}.svg" [svgStyle]="{ 'width.px':40, 'height.px':40, 'fill': 'white' }"></svg-icon>
            <select #filter class="filter" (change)="changeFilter()">
              <option *ngFor="let filter of filters" value="{{filter.id}}">{{filter.name}}</option>
            </select>
          </div>
    </div>

    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
   
  </div>
</div>