<div class="container-fluid" id="entrevista">
  <div class="container">
    <div class="texto-video">
      <div class="texto-box">
        <h1 class="title t-left">Ouça a entrevista</h1>

        <p>
          A atriz e bailarina Ana Botafogo compartilha como conheceu o nosso grupo e, há mais de 10 anos, confia em nossa loja para realizar todos os seus projetos de móveis planejados. Ela destaca a excelência do serviço desde a concepção do projeto até a entrega e montagem, ressaltando a durabilidade e o perfeito estado dos móveis ao longo dos anos.
        </p>
      </div>

      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7SdKDe41S2U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
