@import '../../../assets/sass/variables'

#lojas
    padding: 4em 0em    
    .lojas-box
        .title
            margin-bottom: 2em

        .enderecos
            display: flex
            flex-wrap: wrap
            gap: 1em
            justify-content: center