<div class="container-fluid" id="banner">
    <button class="myPrev" (click)="slickModal.slickPrev()"><i class="fas fa-chevron-left"></i></button>
    <button class="myNext" (click)="slickModal.slickNext()"><i class="fas fa-chevron-right"></i></button>
      
    <div class="banner-box">

        <ngx-slick-carousel class="carousel banner-carousel" 
          #slickModal="slick-carousel" 
          [config]="slideConfig"
          (beforeChange)="beforeChange($event)">
          <div ngxSlickItem *ngFor="let banner of banners" class="slide banner-slide">
              <img [src]="'../../assets/images/'+ banner.img + '.jpg'">
          </div>
        </ngx-slick-carousel>
    </div>
</div>

<!-- <div class="container details">
    <div class="banner-details">
        
        <h3>{{banners[banner].title}}</h3>
        <p>{{banners[banner].text}}</p>
      </div>
</div> -->