<div class="container-fluid" id="agende">
  <div class="container">
    <div class="agende-box">
    <div class="agende-foto-box">
      <img src="../../assets/images/homem.png" >
    </div>
    <div class="agende-text-box">
      <h1>Queremos <br>ouvir você.</h1>
      <p>Gostamos de manter um relacionamento pessoal com o cliente, aqui você não fala com robôs. Nos envie um WhatsApp, estamos ansiosos para conversar com você e tirar suas dúvidas de maneira rápida e prática.</p>

      <a style="    width: fit-content;" href="https://bit.ly/2TFFHYL" target="_blank"><img src="../../assets/images/whatsapp-button.png" alt="WhatsApp Botão"></a>
      <!-- <form class="agende-form">
        <div class="form-field">
            <span>Telefone:</span>
            <input type="text" name="telefone" id="telefone" placeholder="Número">
        </div>
        
        <div class="form-field">
            <span>Horário:</span>
            <select>
              <option *ngFor="let hora of horas" value="{{hora}}">{{hora}}</option>
            </select>
        </div>
        

        <button type="submit">Enviar</button>
      </form> -->
    </div>
  </div>
</div>
</div>
