@import '../../../assets/sass/variables'

#lojas
    padding: 4em 0em    
    .mapas-box
        .title
            margin-bottom: 2em

        .enderecos
            display: flex
            flex-wrap: wrap

            .endereco
                flex: 1
                text-align: center
                display: flex
                flex-direction: column
                align-items: center

                h2
                    display: flex
                    align-items: center
                    font-size: 1.7em
                    color: #3d3d3d
                    margin-bottom: 1em 
                p
                    margin-bottom: 0.5em

                a
                    color: #007bff
                    display: flex
                    align-items: center
                i
                    margin-right: 0.5em

@media (max-width: 768px)
    #lojas
        .mapas-box
            .enderecos
                flex-wrap: wrap

                .endereco
                    padding: 1em 0.5em
                    border-bottom: 1px solid $white