<div class="container-fluid" id="historia">
  <div class="container">
    <div class="texto-video">
      <div class="texto-box">
        <h1 class="title t-left">Nossa História</h1>

        <p>
          Inaugurada em 1950 como Marcenaria Sarzedas , a Celmar começou sua história em um pequeno porão de uma antiga casa no centro da cidade de São Paulo. Nos anos 60 a trajetória de sucesso inicia-se com a mudança da produção para uma área de aproximadamente mil metros quadrados e o abertura de novas lojas na cidade de São Paulo.
        </p>

      </div>

      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/M3mf_e5GQz0?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
    <div class="texto-video reverse">
      

      <div>
        <video width="560" height="315" controls>
          <source src="../../assets/images/celmar-70-anos.mp4" type="video/mp4">
        Your browser does not support the video tag.
        </video>
      </div>

      <div class="texto-box">
        <h1 class="title t-left">70 Anos de tradiçao</h1>

        <p>
          Com 70 anos de mercado, a Celmar é hoje uma referência entre as mais importantes indústrias do setor moveleiro. A qualidade de seus produtos está associada à matéria prima utilizada e à alta tecnologia dos equipamentos nacionais e importados, que resultam em produtos de ótimo acabamento e qualidade.
        </p>

      </div>
    </div>
  </div>
</div>