<div class="container-fluid" id="depoimentos">
  <div class="container">
    <div class="dep-title">
      <h1 class="title t-center">DEPOIMENTOS</h1>
      <h3 class="subtitle t-center">nosso principal <b>objetivo</b> é a sua <b>satisfação</b></h3>
    </div>
    <div class="depoimentos">
      <div class="dep-video">
        <div class="dep-video-inner">
          <iframe width="270" height="480" src="https://www.youtube.com/embed/HCOPpJEyjSk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <h5>Veja o que a <b>Ana Botafogo</b> falou sobre nós...</h5>
        </div>

        <div class="line-div"></div>
      </div>
  
      <div style="width: 100%">
        <div class="dep-title-2">
          <h1 class="title">DEPOIMENTOS</h1>
          <h3 class="subtitle">nosso principal <b>objetivo</b> é a sua <b>satisfação</b></h3>
        </div>
        <swiper [config]="config" class="depoimentos-swiper">
            <ng-template swiperSlide *ngFor="let dep of depoimentos">
              <div class="depoimento-inner">
                <img src="../../assets/images/avatar.jpg">
                <div>
                    <h1>{{dep.nome}}</h1>
                    <p>{{dep.texto}}</p>
                </div>
              </div>
            </ng-template>
        </swiper>
      </div>
    </div>
  </div>
</div>
