<div class="container-fluid" id="depoimentos">
  <div class="container depoimentos">
    <h1 class="title t-center">DEPOIMENTOS</h1>
    <h3 class="subtitle t-center crossed-line"><span>nosso principal objetivo é a sua satisfação</span></h3>

    <!-- <ngx-slick-carousel class="carousel dep-carousel" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig" 
                        (init)="slickInit($event)"
                        (breakpoint)="breakpoint($event)"
                        (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
        <div ngxSlickItem *ngFor="let dep of depoimentos" class="slide">
          
        </div>
    </ngx-slick-carousel> -->

    <swiper [config]="config" class="depoimentos-swiper">
        <ng-template swiperSlide *ngFor="let dep of depoimentos">
          <div class="depoimento-inner">
            <img src="../../assets/images/avatar.jpg">
            <div>
                <h1>{{dep.nome}}</h1>
                <p>{{dep.texto}}</p>
            </div>
          </div>
        </ng-template>
    </swiper>
  </div>
</div>