<div>
  <app-navbar></app-navbar>
  <app-banner></app-banner>
  <app-entrevista></app-entrevista>
  <app-explore></app-explore>
  <app-decorados></app-decorados>
  <app-eventos></app-eventos>
  <app-cases></app-cases>
  <app-historia></app-historia>

  <app-galeria></app-galeria>
  <app-depoimentos></app-depoimentos>
  <app-agende></app-agende>

  <app-lojas></app-lojas>
  <app-contato></app-contato>
  <app-footer></app-footer>

  <div class="wpp-button">
    <a href="https://bit.ly/2TFFHYL" target="_blank"
      ><img src="../../assets/images/wpp.png" alt="WhatsApp Botão"
    /></a>
  </div>
</div>

<app-modal></app-modal>
