<div class="container" id="cases">
  <h1 class="title t-center">CASES</h1>
  <h3 class="subtitle t-center crossed-line">
    <span>Veja nossos cases de sucesso</span>
  </h3>

  <div class="cases-box">
    <div class="case-box" *ngFor="let case of cases">
      <div
        class="case-box-cover"
        [ngStyle]="{ 'background-image': getBg(case.id) }"
        (click)="abreCase(case.id)"
      >
        <div class="veja-mais">
          <h2>
            Veja <br />
            Mais
          </h2>
        </div>
        <h1>{{ case.nome }}</h1>
      </div>
    </div>
  </div>
</div>
